.footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(17, 16, 36);
  height: 11%;
  border-radius: 20px;
  box-shadow: 0 -2px 10px 0 rgba(255, 255, 255, 0.01);
  bottom: 0px;

  .nav-option {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 50px;
  }

  .nav-option.active {
    transition: 0.7s all linear;
    background: linear-gradient(
      to bottom,
      rgb(77, 74, 74) 10%,
      rgb(31, 31, 46) 90%
    );
    transform: scale(1.15);
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1);
  }
}
@media all and (max-width: 700px) {
  .footer {
    border-radius: 0;
  }
}
